# Backend
backend/**/bin/
backend/**/obj/

# Frontend
frontend/node_modules/
frontend/dist/

# Environment
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

backend/Bookora.API/appsettings.Development.json